* {
  box-sizing: border-box;
}

/* ----------------------- TEXT and HEADINGS Related ---------------------------*/
body{
	margin: 0;
	background-color: #F9F9F9;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #4A1C00;
	letter-spacing: -2px;
}
h2 {
	font-family: 'Single Day', sans-serif;
	font-size: 36px;
	color: #4A1C00;
}

h3 {
	font-family: 'Single Day', sans-serif;
	font-size: 28px;
	color: #4A1C00;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #4A1C00;
}

p, label, li{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #4A1C00;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

nav {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
  }
  
   a {
	color: #818181;
	position: relative; /* Required for pseudo-element positioning */
	transition: color 0.2s ease; /* Ease transition for the color change */

  }
  
   a::before {
	content: '';
	position: absolute;
	width: 0%;
	height: 2px; /* Adjust as needed */
	bottom: -0.2rem; /* Adjust based on text-underline-offset */
	left: 0;
	background-color: #FF5998;
	transition: width 0.2s ease; /* Ease transition for the underline */

  }
  
  .nav-links a:hover::before {
	width: 100%; /* Fully draw the underline on hover */
  }
  
  nav a:hover {
	color: #FF5998;
  }

.link-text {
	font-weight: bold;
	color: #ff69b4; /* Pink color */
	text-decoration: none; /* Remove underline */
	position: relative; /* Needed for positioning the arrow */
  }

  p > .link-text {
	padding-right: 20px; /* Adjust as needed */
	letter-spacing: 0px;
  }
  
  .link-text::after {
	content: ' →'; /* Arrow character */
	position: absolute;
	transform: translateX(-100%);

	left: 100%; /* Position the arrow just to the right of the link */
	transition: left 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .link-text:hover::after {
	left: 120%; /* Move the arrow further right on hover */
	left: calc(100% + 5px);

  }

  img {
	width: 10rem; /* Set the desired width */
	height: auto; /* Maintain aspect ratio */

}

	.image-link {
		display: inline-block; /* Ensures the div takes up only as much width as necessary */
	}

	.image-link img {
		transition: transform 0.3s ease-in-out; /* Apply ease-in/out transition to transform property */
	}

	.image-link:hover img {
		transform: scale(1.2); /* Increase the scale of the image on hover */
	}


/* ----------------------- FORM Related ---------------------------*/
input[type=submit] {

	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	background-color: #FCFCFC;
	border-color: #818181;
	border-radius: 1rem;
	border-style: solid;
	color: #818181;
	font-size: 16px;
	padding: 0.8rem 2rem;
	cursor: pointer;
	width: 100%;
	transition: color 0.3s ease, border-color 0.3s ease; /* Add transition for color and border-color */

}

input[type=submit]:hover {
	color:#FF5998;
	border-color: #FF5998;
  }


.text-input {
  position: relative;
  width: 100%;
}

.text-input label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4A1C00;
  letter-spacing: 1px;
  pointer-events: none; 
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.text-input input[type="text"] {
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  background-color: #EDEDED;
  border: none;
  border-radius: 1.3rem;
  outline: none; 
  transition: background-color 0.3s;
}

.text-input input[type="text"]:hover {
	background-color: #EBEBEB; 
  }

.text-input input[type="text"]:focus + label,
.text-input input[type="text"]:valid + label {
  top: 0;
  font-size: 12px; /* Adjust as needed */
  color: #4A1C00; /* Adjust as needed */
}

input[type="radio"] {
    display: inline-block; 
    vertical-align: middle;
    appearance: none;
	margin-right: 0.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background-color: #D9D9D9;;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    background-color: #FF5998;
  }


/* ----------------------- NAV BAR Related ---------------------------*/
 .navbar {
 	display: flex;
 	align-items: flex-end;
 	background-color: white;
 	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add drop shadow */
	z-index: 1; /* Ensure navbar stays on top of other elements */
 }

 .logo-container {
 	margin-left: 5rem;
 	margin-bottom: -2rem;
 	padding: 1rem;
 	background-color: white;
 	border-radius: 12rem;
 	border: 1px solid transparent; 
    box-shadow: 0 4px 0.5px -2px rgba(0, 0, 0, 0.2); 
 }

 .logo-container img {
 	width: 100px;
 	height: 110px;
	margin-left: 0.5rem;
 }

 .nav-links{
  flex-grow: 1;
  text-align: right;
  margin: 1rem 2rem;
  margin-bottom: 2.5rem;
 }

 .nav-links a {
 	margin: 1rem;
 }

  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
	.navbar {
	  flex-direction: column;
	  align-items: flex-start;
	}

	.nav-links {
		display: flex;
		gap: 20px;
		margin-right: auto; /* Align links to the left */
		margin-left: auto;
		margin-bottom: 0;
	}

	.logo-container {
	  position: relative;
	  left: auto;
	}

		.logo-container {
		 	margin-left: auto;
		 	margin-right: auto;
		  box-shadow: none;
	  }
  }

/* ----------------------- FORM Related ---------------------------*/

  .form-container {
    background-color: #fff;

  }
  .form{
    margin-bottom:1.5rem;
    border-radius: 5px;
    max-width: 600px;
  }

  .form-group {
    display: flex;
  }

  .half-width {
    width: calc(50% - 5px);
  }
  input.full-width {
    width: 100%;
  }

  .form-section {
    border-top: 1px solid #ccc;
    max-width:800px;
  }

  .input-fields {
    margin-right:1rem;
    margin-left:1rem;
  }
  
  .form-section:last-child {
    margin-bottom: 0; 
    border-bottom: 0px;
  }


  input[type="radio"] {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    
  }

  @media screen and (max-width: 480px) {
    .container {
      padding: 10px;
    }
  }

  form label {
    display: inline;
    text-align: left;
  }


  form input[type="text"]{
    width: 29.5625rem;
    height: 2.6875rem;
    flex-shrink: 0;
	border-radius: 1.3rem;
	outline: none; 
	border: none; 
	background-color: #F9F9F9;
    margin-top: 0.75rem;
    padding: 1.5rem ; 
    width: 60%; 
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
  }


  form input[type="text"]:focus,
  form input[type="text"]:hover{
	background-color: #EBEBEB; 
  }

 

  .form-group input[type="text"] {
    width: 100%; 
    margin-right: 10px; 
  }

  
  .checkout-cart {
    max-width: 800px;
    padding: 2rem;

}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.row form {
  display: flex;
  width: 100%;
  align-items: center; 
}

.row form input[type="text"],
.row form button {
  flex: 2;
}

.row form button {
  flex: 1;
  margin-top: 3rem; 
  margin-left: 1rem;
}


/* ----------------------- UNIVERSAL sections and elements ---------------------------*/


/* --------- LANDING section ------------*/
#landing {
	position: relative;
	z-index: -1;
}

.video-wrap video{
	width: 100%;
}

.landing-text {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 3rem;
}

.landing-text h1{
	font-size: 8vw;
	color: #FCFCFC;
}

/* --------- Footer ------------*/
footer {
	background-color: #FF5998;
	padding: 2rem 5rem 4rem;
	margin-top: 3rem;
} 

footer h1, footer h4, footer a, footer p {
	color: white;
}

footer h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 24px;
}

footer a, footer p {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer li, footer p{
	margin-left: 0.5rem;
	margin-bottom: 0.7rem;
}

#footer-upper {
	display: grid;
	grid-template-columns: 50% 1fr 1fr 1fr;
	margin-bottom: 5rem;
}

#footer-lower {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 70%;
}

#footer-copyright {
	text-align: right;
}

@media screen and (max-width: 768px) {
	#footer-upper, #footer-lower {
		grid-template-columns: 1fr;
	}
}


/* --------- Checkout cart ------------*/
.cart-buttons { /* the + and - button in the checkout cart */
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	background-color: #EBEBEB;
	border-radius: 0.7rem;
	border-style: solid;
	border-color: #EBEBEB;
	color: #818181;
	cursor: pointer;
	width: 2rem;
	padding: 0.2rem;
	margin-right: 0.2rem;
	transition: color 0.3s ease, border-color 0.3s ease; /* Add transition for color and border-color */
}

.cart-buttons:hover{
	background-color: white;
	color:#FF5998;
	border-color: #FF5998;
}

.checkout-cart { /* the entire shopping cart section */
	background-color: white;
	border-radius: 2rem;
  min-width: 300px;
  max-width: 1200px;
  padding: 0rem 1rem 2rem;
}

#wrapper .checkout-cart {
	margin-left: auto; /* move the shopping cart to the right, 
										 specified this so that the shopping cart in the style guide won't align to the right
										 side */

}

#checkout-decoration { /* the drawing on top of the checkout cart */
	text-align: center;
}

#checkout-decoration img{
	margin-top: -2rem;
}

.checkout-cart h2 {
	margin-top: 0;
}

.checkout-cart p {
	padding-right: 0.5rem;
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	
}

/* cart-description consist of "YOUR ORDER" and the text under it */
.cart-description h2 { 
	text-align: center;
	margin-bottom: 1rem;
}

.cart-description p{
	padding-left: 2rem;
	padding-right: 2rem;
}


.cart-list { /* cart list consist of all the items in checkout and the subtotal section under it */
	background-color: #F9F9F9;
	border-radius: 1rem;
	padding: 2rem 1rem 1rem;
	margin-bottom: 2rem;
}

.cart-item{ /* individual items in the checkout cart */
	display: grid;
	grid-template-columns: auto 1fr auto; 
	border-bottom: 1px solid #D8D8D8;
	grid-gap: 1rem;
	padding-bottom: 0.7rem;
	margin-bottom: 1rem;
}

.cart-item-left img{
	width: 60px;
}

.cart-item-middle {
	grid-column: 2; 
  }

.cart-add-or-subtract { /* make the + and - button side by side */
	display: flex;
}

.cart-item-right {
	text-align: right;
}

.cart-item-right .cart-item-quantity{ /* move the total item quantity a bit down so it looks better*/
	margin-top: 1.4rem;
	margin-bottom: 0;
}

.cart-list-total {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.cart-list-total-right {
	text-align: right;
}

/* ----------------------- PRODUCT LISTING PAGE Related ---------------------------*/
#macarons-wrapper { /* for everything under the navigation bar */
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 12%;
	margin-right: 8%;
	display: grid;
	grid-template-areas: 
		"a a b";
}

#macaron-page-left{ 
	grid-area: a;
}
#macaron-page-right{
	padding-right: 2rem;
	padding-left:6rem;
	grid-area: b;
	padding-top:6rem;
}

  .item-section-title {
  	display: flex;
  }

  .item-section-title h1 {
  	margin-top: 0;
  	margin-bottom: 3rem;
  }

  .item-section-title p {
  	padding-top: 0.5rem;
  	margin-left: 2rem;
	color:#FF5998;
  }

  .item-section {
  	display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 2rem;
		column-gap: 2rem;
  }

  .item-listing {
	position: relative;	
	padding-bottom: 30px; /* Adjust based on the size of your link */
  }

  .item-listing img{
  	width: 200px;
  	margin-bottom: -1.5rem;
	transition: 0.3s;
  }


  .item-listing .add-order-button input {
	position: absolute;
	display: none;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

  .item-listing p{
  	margin-top: -1rem;
  	max-width: 200px;
  }

.lemon-tree-link{ /* hides the 'LOOK INSIDE' text */
  display: none; 
  position: absolute;
  top: 120%;
  left:20%;

  transition: width 0.2s ease; /* Ease transition for the underline */
}

.lemon-tree-link p:hover {
	color: #FF5998;

}

.item-listing:hover #lemon-tree img {
	filter: blur(2px);
}

.item-listing:hover .add-order-button input {
	display:block;
	z-index: 2;
}

.item-listing:hover .lemon-tree-link { /* unhides the 'LOOK INSIDE' text */
  display: block;
  color: #FF5998;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1200px) {
	#wrapper {
	  grid-template-areas: 
	  "a"
	  "b";
	}
	.item-listing img {
	  width: 150px;
	}
	#macaron-page-right {
	  padding-top: 0rem;
	  padding-left: 2rem; 
	  padding-right: 2rem;
	}
	#macaron-page-left {
	  padding-bottom: 0;
	  padding-left: 2rem; 
	}
  }


@media screen and (max-width: 800px) {
	#macarons-wrapper {
		grid-template-areas: 
		"a"
		"b";
	}
	#macarons-wrapper .checkout-cart {
		margin-left: 0;
	}
	#macaron-page-left {
		padding-bottom: 0;
		padding-left:0rem;
	}

	.item-listing img{
  	width: 150px;
  }

	.item-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
	}
}

/* ----------------------- PRODUCT DETAIL PAGE Related ---------------------------*/

.container {
    display: flex;
    max-width: 40rem;
    margin-right: 5rem; /* Remove margin */
}

.left-container {
    flex: 1;
    margin-right: calc(((100vw - 800px) / 8)); /* Initial right margin */
}

.product-detail-header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.product-detail-header img {
    width: 20px;
    margin-right: 10px;
}

.left-container img {
    width: 400px;
    height: auto;
}

.right-container {
    flex: 1;
    max-width: 15rem;
    margin-left: auto; /* Move right container to the end */
	position: relative; /* Added */

}

.right-container .subsection {
    margin-bottom: 20px;
}

.right-container h3 {
    margin: 0;
}

.right-container p {
    margin-top: 5px;
}

  
  /* Drawing */
  .drawing {
	position: absolute;
	/* Adjust the left position as needed */
	width: 200px; /* Adjust width as needed */
	height: 200px; /* Adjust height as needed */
	z-index: 6;
	left:-11rem;
	top:3rem;
  }
  
  @media screen and (max-width: 768px) {

	.left-container img {
		margin-top: -3rem;
		width: 300px;
		height: auto;
	}
	
	.drawing {
	  opacity: 0;
	}
  }

/* ----------------------- HOME PAGE Related ---------------------------*/

.build-your-order-button {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-decoration: none;
	background-color: #4F2208;
	border-radius: 0.3rem;
	border-style: solid;
	border-color: #4F2208;
	color: white;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
	margin-top: 2rem;
	transition: color 0.3s ease, border-color 0.3s ease; /* Add transition for color and border-color */
}

.build-your-order-button:hover{
	background-color: white;
	color:#4F2208;
	border-color: #4F2208;
}

	.home-wrapper { /* for everything under the navigation bar */
		margin-left: 8%;
	  margin-right: 8%;
	}

  .home-container {
	display: flex;
	justify-content: space-between;
  }
  
  .home-horizontal-container {
  width: 100%;
	padding-bottom: 3rem;
	justify-content: space-between;
	align-items: center; /* This will center the content vertically */
  }

  .home-horizontal-container h1 {
	font-size: 4rem; 
	line-height: 90%;
	max-width: 450px;
	margin-bottom: 1rem;
  }
  .intro-right-side img{
	width: 700px; 
	padding-left: 5rem;
  }
  
  .home-horizontal-container p {
	max-width: 450px;
  }

  #home-intro {
  	display: flex;
  }

  .intro-element {
  	padding: 2rem;
  }

  .intro-element img {
  	width: 35rem;
  	margin-top: 2rem;
  }

  #home-about-decor {
  	width: 5rem;
  	margin-bottom: -6rem;
  	margin-left: -3.5rem;
  }

  #home-intersection {
  	display: flex;
  	margin-top: -10rem;
  	margin-left: 10%;
  }

  #home-intersection h1 {
  	font-size: 56px;
  	margin-top: 10rem;
  	margin-right: auto;

  }
  #home-intersection img {
  	width: 350px;
  	display: block;
  	margin-left: auto;
  	padding-right: 2rem;
  }

	#CTA-board img {
		display: block;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#CTA-board-decoration img{
  	width: 80px;
  }

	#CTA-board-content {
		display: flex;
		align-items: flex-start;
		background-color: #FFE3EE;
		padding: 3rem 2rem 4rem;
		margin-top: -0.5rem;
		border-radius: 1rem;
	}

	.CTA-board-element { /* Class for all elements within the board, 3 in total (left, midle, right) */
		margin-left: 2rem;
		margin-right: 2rem;
	}

	 #CTA-board-middle { /* ID for the middle section on the board */
  	margin-top: 6rem;
  }

  #CTA-left-content, #CTA-middle-content { /* White area within the sections */
  	background-color: white;
  	padding: 2rem;
	padding-bottom: 4rem;
	margin-top: -1rem;
  	border-radius: 1rem;
  }

  #CTA-left-decoration img, #CTA-middle-decoration img {
  	width: 45px;
  }

  #CTA-macaron-C {
  	width: 450px;
  	margin-top: -15rem;
  	margin-right: -8%;
  	float: right;
		z-index: 2;
  }

	  #CTA-macaron-B {
		width: 450px;
		margin-top: -20rem;
		margin-left: -8%;
		rotate: 160deg;
		float: left;
	   }

	.news{ /* Makes the news section NOT wrapped around the macaron images, likely not the best fix
	          , should consider going back to this) */
  		margin-top: 10rem;
  }

  @media (max-width: 1200px) {
		#home-intro, #CTA-board-content {
		  flex-direction: column;
		}

		.intro-element img {
			width: 80%;
		}
		#CTA-macaron-C{
			width: 350px;
			z-index: 2;
			margin-top: -7rem;

		}
		#CTA-macaron-B{
			width: 350px;
			margin-top: -9rem;

		}

  }
  
/* ----------------------- CONTACT PAGE Related ---------------------------*/
	#contact-wrapper {
		margin-top: 5rem;
		margin-bottom: 5rem;
		margin-left: 12%;
		margin-right: 8%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#contact-wrapper div {
		padding: 1rem;
	}

	#contact-wrapper p {
		max-width: 80%;
	}

	#contact-email-message textarea{
		background-color: #EDEDED;
		font-family: 'poppins', sans-serif;
		width: 100%;
	  height: 150px;
	  padding: 12px 20px;
	  box-sizing: border-box;
	  border-style: none;
	  border-radius: 1rem;
	  resize: none;
	}

/* ----------------------- CONFIRMATION PAGE Related ---------------------------*/
#confirm-right img{
	margin-left: 20%;
	margin-top: -5%;
}

/* ----------------------- HOME NEWS Related ---------------------------*/

	.news {
		width: 100%;
	  }
	  
	  
	  .news-image-container {
		display: flex;
		justify-content: space-between;
	  }
	  
	  .image-container img {
		width: calc((100% - 2 * 10px) / 3); /* Adjust the '10px' to change the margin */
		height: auto;
	  }
	  
/* ----------------------- STYLE GUIDE Related ---------------------------*/

/* sections (interactive, text, combined) in the style guide */
.area {
	padding: 3rem;
	margin-left: 5rem;
	margin-right: 5rem;
	background-color: #EEEEEE;

}
.area h2{
	text-align: center;
}

/* Individual elements on the style guide page */
.element {
	margin-top: 5em;
	border-top: 2px solid;
}

.branding-image {
	width: 60%;
}

/* the title and navigation in the style guide */
#style-guide-header {
	text-align: center;
	margin-bottom: 3rem;
}

#style-guide-header a{
	margin-left: 1rem;
	margin-right: 1rem;
}

/* "headings" element in the style guide */
#style-guide-headings h2 {
	text-align: left;
}